body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /* background: url(https://images.unsplash.com/photo-1532939198640-a7f0da02b62f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=404e6db7e3373d8812dfaed4e6dfe428&auto=format&fit=crop&w=2134&q=80); */
    /* background-position: center; */
    background: black;
    color: white;
}

.title{
    /* letter-spacing: .5em; */
}

.header{
    /* text-align: center; */
    width: 70%;
    margin: auto;
    margin-top: 2em;
}

.header h1,p{
    margin: 0px;
    padding: 0px;
}

.header h1{
    font-size: 4em;
    line-height: 1em;
}

.nav{
    font-weight: 700;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav li{
    display: inline;
}

.nav .active{
    text-decoration: none;
    color: black;
    margin-right: 0.5em;
}

.nav a{
    color: black;
    text-decoration: none;
    margin-right: 0.5em;
}

.blacknav{
    /* background: rgba(0, 0, 0, 0.8); */
    background: yellow;
    
}

.blacknav a{
    /* color: white; */
    color: black;
}

.ligma{
    margin-top: 0.5em;
    padding: 1em;
    background: yellow;
    border: 0;
}

.aboutHeader{
    text-align: center;
}

.revealLigma{
    margin-top: 0.5em;
    background: yellow;
    border: 0;
    padding: 11px;
}

.aboutHeader h1{
    font-size: 4em;
}